h1{
    text-align: center;
    color: blueviolet;
}
div{
    padding: 10px;
    border: 10px double #ae43ec;
    margin: 10px auto; /*para centrar elementos inline*/
    background-color: rgba(195, 131, 238, 0.692);
    max-width: 300px; /*se ajusta al ancho de pantalla*/
   /* outline: 10px inset rgb(248, 136, 248); esto ocupa parte del margen para darle color o editarlo
    outline-offset: 3px; esto separa el outline del borde*/
    box-sizing: border-box;
    text-align: center;
}
